<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Find Social Profiles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/data" method="get">
      <fieldset>
        <legend>Input a URL to find social profiles</legend>
        <label>
          Username:
          <input type="string" name="candidate_url" />
          <input type="submit" value="Find" />
        </label>
      </fieldset>
    </form>
  </body>
</html>
